*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: black;
}

.calculator{
    position: relative;
    display: grid;
}

.calculator .value {
    grid-column: span 4;
    height: 100px;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;

}

.calculator span{
    display: grid;
    width: 60px;
    height: 60px;
    background: #292929;
    place-items: center;
    border: 1px solid black;
    color: aliceblue;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   
}

span.clear{
    grid-column: span 2;
    width: 120px;
    background: rgb(255,163,26);
}

span.plus{
   grid-row: span 2;
   height: 120px;
}

span.equal {
    background: rgb(255,163,26); 
}

.calculator span:active{
    background-color:  rgb(255,163,26); 
    color: #fff;
}